
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap");


.App {
  font-family: sans-serif;
  display: flex;
}

li {
  list-style: none;
}

.leftSide {
  display: flex;
  flex-direction: column;
  margin-top: 0.4rem;
}

.Content {
  margin-left: 3rem;
  flex: 1;
}

h1 {
  font-size: 1.5rem;
}

.overlay {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1000; /* Higher z-index = on top */
}

.fullscreen-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 50px;
  box-sizing: border-box;
}

.text-buffer{
  padding :50px;
  z-index: 1;

}

.repo-button{
  display: flex;
  flex-direction: left;
  padding: 0px;
  border-radius: 0px;
  color: #74499f;
}

.repo-button:hover{

  text-decoration: underline;
}

.parent{
  border-radius: 10px;
  overflow: hidden; /* Very important */  
  display: flex;
  justify-content: center;
}

.parent img,
.parent video{
  border-radius: inherit; /* Inherits 10px from .parent */
  
}

.centerd-image {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
  
}

.fullscreen-image:hover {
  cursor: zoom-out;
}

button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 6px;
  background-color: transparent;
  color: #a18aba;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  color: #74499f;
  text-decoration: underline;
}

button.active {
  color: #601aa5;
  text-decoration: underline;
}

h2 {
  padding: 0px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.zoom-image {
  cursor: zoom-in;
  transition: transform 0.3s ease;
}

.zoom-image.zoomed {
  transform: scale(2);
  cursor: zoom-out;
  z-index: 10;
}

.content-container {
  padding: 15px 10px;
  display: flex;
  flex: 1;
}

.gallery-col {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px 7px;
}

.gallery-row {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 10px 7px;
}

.gallery-col {
  display: flex;
  flex-direction: line;
  gap: 20px;
  padding: 10px 7px;
}

.proj-col {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0px 7px;
}

.text-cont {
  width: 500px;

}

.gallery-image {
  border-radius: 5px;
  object-fit: cover;
}

.custom-list {
    list-style-type: square;
    padding-left: 5px;
  }

  .out-container {
    padding: 2rem;

  }

  .slider-wrapper {
    position: relative;
    max-width: 54rem;
    margin: 0 auto;
    scrollbar-width: 0;
  }

  .slider {
    display: flex;
    aspect-ratio: 16/9;
  
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;

    overflow-x: hidden;
    overflow-y: hidden; /* Hide vertical scrollbar */
   
  }

  .slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
  }

  .slider-nav {
    display:flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }

  .slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
  }